<h3>Event Form</h3>

<input type="text" [(ngModel)]="formEvent.eventname" placeholder="Add Event Name"> <br>
<input type="text" [(ngModel)]="formEvent.description" placeholder="Add Event Description"><br>
<input type="date" [(ngModel)]="formEvent.eventDate" placeholder="Add Event creation Date"><br>
<input type="time" [(ngModel)]="formEvent.eventTime" placeholder="Add Event Time"><br>
<input type="text" [(ngModel)]="formEvent.type" placeholder="Add Event Type"><br>
<button (click)="emitSubmitted()" >Add Event</button>

