<h1>Event List</h1>

<table>
  <tr>
    <th>Event Type</th>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Event Creator</th>
    <th></th>
  </tr>

  @for(a of AllEvents; track $index){
  <tr>
    <td>{{a.type}}</td>
    <td><a routerLink="/{{a.id}}">{{a.eventname }}</a></td>
    <td>{{a.eventDate}}</td>
    <td>{{a.username}}</td>
    <td><button (click)="addNewFavorite(a, user.id)" >Favorite</button></td>
    <td><button (click)="DeleteEvent(a)" >Delete</button></td>
  </tr>
  }
</table>

<app-event-form (Submitted)="addEvent($event)" ></app-event-form>